.task{
  display: flex;
  flex-direction: row;
  border: 3px solid hsl(0, 0%, 35%);
  border-radius: 20px;
  height: 5rem;
  width:100%;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s;
}
.task p{
  margin: 10px;
  flex: 1;
}
.task select, .task button {
  background: none;
  border: none;
  flex: 1; /* Allows the elements to take up equal space */
}
.bin img {
  max-width: 10%;
  max-height: 10%;
  object-fit: contain;
  cursor: pointer;
}
